.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.paginationButton {
  padding: 10px;
  margin: 0 10px;
  cursor: pointer;
  background-color: #f0f0f0;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 1em;
}

.paginationButton:disabled {
  background-color: #ddd;
  cursor: not-allowed;
}
