
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.8);
    padding: 10px;
    position: relative;
    margin-bottom: 20px;
}
.globalNewsLink a{
    text-decoration: none;
    color: white;
    font-size: 30px;
    font-weight: bold;
    text-align: left;
    margin-right: 150px;
}

.logoContainer {
    display: flex;
    align-items: center;
}

.logo {
    width: 120px;
    height: auto;
}

.searchContainer {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-grow: 1;  /* Rozciąga kontener w poziomie */
    min-width: 200px; /* Minimalna szerokość kontenera wyszukiwania */
}

/* Pole wyszukiwania */
.searchInput {
    width: 100%;  /* Elastyczna szerokość - wypełnia dostępne miejsce */
    padding: 10px; /* Odstępy w polu tekstowym */
    font-size: 16px; /* Domyślny rozmiar czcionki */
    border: 1px solid #ccc; /* Obramowanie */
    border-radius: 5px; /* Zaokrąglone rogi */
    box-sizing: border-box; /* Zapewnia, że padding jest wliczany do szerokości */
    min-width: 200px;  /* Minimalna szerokość pola wyszukiwania */
}

/* Media queries dla mniejszych ekranów */
@media (max-width: 768px) {
    .searchInput {
        font-size: 14px;  /* Mniejsza czcionka na ekranach średniej wielkości */
        padding: 8px; /* Mniejsze odstępy */
    }
}

@media (max-width: 480px) {
    .searchInput {
        font-size: 14px; /* Ustawienie mniejszego rozmiaru czcionki na urządzeniach mobilnych */
        padding: 8px; /* Ustawienie mniejszych odstępów */
    }
}

.stateListContainer {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 5;
}

.stateContainer {
    display: none;
    opacity: 0;
    transform: translateY(-20px);  
    transition: opacity 0.3s ease, transform 0.3s ease;  
}

.stateContainer.visible {
    display: block;
    opacity: 1;
    transform: translateY(0); 
}
