.stateContainer {
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin-top: 10px;
    opacity: 0; 
    transform: translateY(-20px); 
    transition: opacity 0.3s ease, transform 0.3s ease; 
}


.stateContainer.visible {
    opacity: 1;
    transform: translateY(0); 
}

.stateList {
    display: grid;
    grid-template-columns: repeat(5, 1fr); 
    gap: 10px;
    max-height: 550px; 
    overflow-y: auto; 
}

.stateItem {
    display: flex;
    align-items: center;
    padding: 8px;
    background-color: #f9f9f9;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.stateItem:hover {
    background-color: #e0e0e0;
}

.icon {
    width: 16px;
    height: 16px;
    margin-right: 8px;
}
